* {
  margin: 0%;
  padding: 0%;
  background-image: url("./Assets/pexels-maxyne-barcel-10402282 1.png");
  background-position: center;
  background-repeat: no-repeat;
}
body{
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 5%;
    height: 100px;
}
nav .options{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    
}
button{
    padding: 5px 10px;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
nav .order-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-btn button{
    color: white;
    background: pink;
}
main{
    display: flex;
    flex-direction: column;
    height: 40vh;
}
main h1{
    margin-top:5vh ;
    color: yellow;
    text-align: center;
}
main  button{
    color: white;
    background: pink;
    justify-self: center;
    margin-left: 45%;
    width: 150px;
    margin-top:5vh ;
}
footer{
    display: flex;
    height: 80px;
    width: 80px;
    margin-left: 93vw;
}
